/* Use variables to change colors without fear */
/* warning - #E0A800 */
/* profile-image - #EFC265 */
:root {
  --primary-color: #E0A800;
}

html {
  scroll-behavior: smooth;
}

.my-skill {
  font-size: 3em;
  color: var(--primary-color);
}

/* Glass Morphism */
#hero-container {
  /* background: rgba(255, 255, 255, 0.3); */
  /* border-color: rgba(255, 255, 255, 0.25); */
  /* border-radius: 10px; */
}

/* Animated Mouse */
/* https://josefzacek.com/blog/how-to-create-scroll-down-animated-mouse-effect-using-html-and-css.html */
.moving-mouse-holder {
  margin: auto;
  margin-top: 60px;
  width: 170px;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid white;
}

.moving-mouse-holder .mouse-button {
  background-color: white;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
  margin-top: -30px;
  margin-left: 40px;
  color: white;
  font-size: 12px;
  line-height: 1em;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}